 body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
 }


 .container {

   width: 100%;
   max-width: 400px;
   padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 8px;
   letter-spacing: 3px;
   font-size: 1rem;
   font-weight: 200;

 }

 #timer {
   color: black;
   /* background-color: black; */
   /* padding:15px; */
   border-radius: 8px;
   margin-bottom: 45px;
   font-weight: 100;
 }

 .container-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;

   /*flex-wrap: wrap; */
 }

 /*Buttons*/
 #start-btn {
   font-weight: bold;
   color: black;
   border: 2px solid black;
   padding: 2.6em 2em;
   border-radius: 50%;
   margin-right: 15px;

 }

 #stop-btn {

   color: black;
   border: none;
   padding: 2.5em 2em;
   border-radius: 50%;
   border: 2px dotted black;
   margin-right: 5px;
 }

 #Reset-btn,
 #Lap-btn {
   color: black;
   border: none;
   padding: 2.5em 2em;
   border-radius: 8px;
   margin-top: 10px;
 }


 #start-btn:hover,
 #stop-btn:hover,
 #Lap,
 #Reset-btn:hover {
   transform: scale(1.05);
   cursor: pointer;
   transition: 0.2s;
 }

 @media (max-width: 480px) {

   #Lap-btn,
   #start-btn,
   #stop-btn,
   #Reset-btn {
     padding: 1.9em 1.2em;

   }

   .container {
     width: 90%;
     padding: 20px;
   }

   .container-btn {
     flex-wrap: wrap;
   }
 }

 .lap-container {
   width: 100%;
   margin-top: 1.5rem;
   height: 30vh;
   overflow-y: auto;
   border: 1px solid #ccc;
   border-radius: 6px;
 }

 .table-head {
   display: flex;
   justify-content: space-around;
   position: sticky;
   top: 0;
   background: white;
   z-index: 10;
   padding: 6px 0;
   font-weight: bold;
   border-bottom: 1px solid #ccc;
 }

 .js-lap-display {
   display: flex;
   justify-content: space-around;
   padding: 6px 0;
   font-size: 14px;
 }

 .js-lap-display button {
   border: none;
   background: transparent;
   font-weight: bold;
   cursor: pointer;
 }